*{
   
}

/*body{
    background-image: url(../img/illustration-hero.svg);
    background-repeat: no-repeat;
}

div{    
    width: 100%;
    height: 500px;
}*/
div{
    background-image: url(../img/illustration-hero.svg);
    height: 200px;
    border: solid 1px black;
    border-radius: 15px;

    background-position: center center;
}